<app-header></app-header>
<div class="container">
  <h1 class="title">Listado de {{ formattedComponent }}</h1>
  <div class="table-container">
    <ng-container *ngIf="loading; else dataTable">
      <div class="loading-indicator">
        <i class="pi pi-spin pi-spinner"></i>
        <h2>Cargando datos...</h2>
      </div>
    </ng-container>
    <ng-template #dataTable>
      <p-table
        [columns]="cols"
        [value]="data"
        [paginator]="true"
        [rows]="5"
        showGridlines
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10]"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <ng-container [ngSwitch]="col.field">
                <ng-container *ngSwitchCase="'op.product'">
                  {{ rowData["product"]?.name }}
                </ng-container>
                <ng-container *ngSwitchCase="'op.price'">
                  {{ rowData["product"]?.price }}
                </ng-container>
                <ng-container *ngSwitchCase="'op.total'">
                  {{
                    rowData["quantity"] * rowData["product"]?.price
                      | currency : "USD" : "symbol" : "1.2-2" : "en-US"
                  }}
                </ng-container>
                <ng-container *ngSwitchCase="'total'">
                  {{
                    rowData["total"]
                      | currency : "USD" : "symbol" : "1.2-2" : "en-US"
                  }}
                </ng-container>
                <ng-container *ngSwitchCase="'category'">
                  {{ rowData["category"]?.name }}
                </ng-container>
                <ng-container *ngSwitchCase="'employee'">
                  {{ rowData[col.field]?.id }} | {{ rowData[col.field]?.name }}
                  {{ rowData[col.field]?.lastname }}
                </ng-container>
                <ng-container *ngSwitchCase="'opciones'">
                  <div class="button-group">
                    <p-button
                      *ngIf="component === 'Ordenes'"
                      icon="pi pi-search"
                      [rounded]="true"
                      size="small"
                      styleClass="view-button tiny-button tiny-icon"
                      [routerLink]="['/verOrdenesProductos', rowData['id']]"
                    ></p-button>
                    <p-button
                      icon="pi pi-pencil"
                      [rounded]="true"
                      size="small"
                      styleClass="edit-button tiny-button tiny-icon"
                      (click)="editObject(rowData['id'])"
                    ></p-button>
                    <p-button
                      icon="pi pi-trash"
                      [rounded]="true"
                      size="small"
                      styleClass="delete-button tiny-button tiny-icon"
                      (click)="deleteObject(rowData['id'])"
                    ></p-button>
                  </div>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ rowData[col.field] }}
                </ng-container>
              </ng-container>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="footer">
          <tr *ngIf="component === 'OrdenesProductos'">
            <td colspan="4"></td>
            <td class="total">
              Total:<span>{{
                totalGeneral | currency : "USD" : "symbol" : "1.2-2" : "en-US"
              }}</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </div>
</div>
